.DS_Store
.idea
*.log
tmp/
node_modules
experiment1/client/node_modules
experiment1/server/node_modules
experiment1/server/dist/index.*
.empirica/local

experiment1/server/dist/output.csv
experiment1/transcript_backbiter.csv

experiment1/server/dist/fileCache.json
experiment1/server/dist/count.json
experiment1/server/dist/deep-mark-421119-d6b7a348b287.json
experiment1/server/deep-mark-421119-d6b7a348b287.json
