.DS_Store
.idea
*.log
tmp/
node_modules
experiment1/client/node_modules
experiment1/server/node_modules
experiment1/server/dist/index.*
.empirica/local

experiment1/server/dist/output.csv
experiment1/transcript_backbiter.csv

experiment1/server/dist/fileCache.json
experiment1/server/dist/deep-mark-421119-d6b7a348b287.json
experiment1/server/deep-mark-421119-d6b7a348b287.json

experiment1-2024-08-28-14-08-51.zip
experiment1/experiment1.tar.zst
experiment1/experiment1-2024-08-28-14-08-51

experiment1/client/public/annotation.gif

experiment1/server/src/deep-mark-421119-d6b7a348b287.json

dashboard/src/data/*.csv
dashboard/src/server/deep-mark-421119-d6b7a348b287.json
.Rproj.user
